spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: product-service
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/product-service/**
              filters:
                - RewritePath=/product-service/(?<segment>.*), /${segment}

            - id: customer-service
              uri: lb://CUSTOMER-SERVICE
              predicates:
                - Path=/customer-service/**
              filters:
                - RewritePath=/customer-service/(?<segment>.*), /${segment}

            - id: order-service
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/order-service/**
              filters:
                - RewritePath=/order-service/(?<segment>.*), /${segment}

server:
  port: 8085

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
